.userCard {
  position: absolute;
  top: 100%;
  background-color: #f7efe2;
  padding: 0.75rem;
  width: 100%;
  max-width: 12.3125rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 2px solid #333;
  opacity: 0;
  transform: translateY(-300px);
  transform-origin: top;
  clip-path: inset(300px 0px -300px);

  transition: all 0.35s ease-in-out;
  z-index: -1000;
}
.userCard.visible {
  border-top: none;
  clip-path: inset(0px 0px -300px);
  border-width: 0px 2px 2px 2px;
  transform: translateY(0);
  opacity: 1;
}
.address {
  font-size: 0.8125rem;
  color: #333;
  margin-bottom: 0.125rem;
  word-wrap: break-word;
  cursor: pointer;
  transition: color 0.2s ease;
}

.address:hover {
  color: orange;
}

.copyMessage {
  position: absolute;
  top: 0.3125rem;
  right: 3.75rem;
  font-size: 0.75rem;
  background-color: #f7efe2;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 1001;
}

.balance {
  font-weight: bold;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

.actionsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.3125rem;
}
.error {
  position: absolute;
  background-color: #e74c3c;
  font-size: 50%;
  border: 1px solid black;
  border-radius: 1.875rem;
  padding: 4px 8px;
  text-align: center;
  max-width: 12.5rem;
  margin-top: 4.0625rem;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top left;
  transition: opacity 0.15s ease, transform 0.15s ease;
}
.error.visible {
  opacity: 1;
  transform: scale(1);
}

.buttonWithdraw {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  outline: none;
  background-color: #f9a603;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  color: #fff;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  width: 5.3125rem;
  height: 1.5625rem;
  transition: all 0.2s ease-in-out;
}

.buttonWithdraw:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.buttonWithdraw:active {
  transform: translateY(1px);
}

.userCardInput {
  flex: 1;
  max-width: 4.375rem;
}
