.button {
  padding: 0.8rem 2rem;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  background: #3e6ae1;
  color: #fff;
  transition: transform 0.1s ease;
  height: 2rem;
}

.button:hover {
  opacity: 0.95;
}

.button.disable {
  cursor: not-allowed;
}

.button.pressed {
  transform: scale(0.95);
}
