.inputContainer {
  height: 1.5625rem;
  position: relative;
  width: 100%;
}

.input {
  background-color: #ffd073;
  border-radius: 0.75rem;
  border: 0;
  color: #333;
  font-size: 0.9375rem;
  height: 100%;
  outline: 0;
  width: 100%;
  padding: 0 0.625rem;
}

.cut {
  background-color: #f7efe2;
  border-radius: 0.625rem;
  height: 1.2em;
  left: 1em;
  position: absolute;
  top: calc(-1.2em - 0.2em);
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.35s;
  width: 66%;
}

.cut-short {
  width: 3.125rem;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(0.5rem);
  opacity: 1;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #65657b;
  line-height: 1;
  font-size: 0.7188rem;
  pointer-events: none;
  align-items: center;
  transform-origin: 0 50%;
  transition: transform 0.35s, color 0.35s;
  top: -1rem;
  left: 0.5rem;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-1.0313rem) translateX(0.6875rem) scale(0.6);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #808097;
}

.submit {
  background-color: #08d;
  border-radius: 0.75rem;
  border: 0;
  color: #eee;
  cursor: pointer;
  font-size: 1.125rem;
  height: 3.125rem;
  margin-top: 2.375rem;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
