.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #333;
  color: #333;
  height: 75px;
  background-color: #cf3721;
  padding: 0 15px;
}

.header-name {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.875rem;
  padding: 0 0.625rem 0;
  font-style: italic;
  font-weight: 800;
}
