.game-session-panel-wrapper {
  color: #65657b;
}

.progressbar-game-session {
  box-sizing: border-box;
  border: solid 0.4rem #ffe0a3;
  width: 100%;
  height: 2.1rem;
  border-radius: 0.15em;
  background: linear-gradient(#ffe0a3, #ffffff);
  font-family: monospace;
  font-size: clamp(0.625em, 7.5vw, 5em);
}

.progressbar-game-session::-webkit-progress-bar {
  background: transparent;
}

.progressbar-game-session::-webkit-progress-value {
  border-radius: 0.5em;
  box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.35);
  background: linear-gradient(#ffec9d, transparent 85%), linear-gradient(90deg, #ffe94b, #f94745);
  transition: width 1s linear;
}

.progressbar-game-session::-moz-progress-bar {
  border-radius: 0.5em;
  box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.35);
  background: linear-gradient(#ffec9d, transparent 85%), linear-gradient(90deg, #ffe94b, #f94745);
  transition: width 1s linear;
}
